<div class="main-content">
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h6 class="header-pretitle mt-3">
              Reverse DNS
            </h6>
            <h1 class="header-title">
              Check IP address
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- cards -->
  <div class="d-flex justify-content-center" style="margin-bottom: 30px; margin-top: 30px;">
    <span class="ui-float-label">
      <input class="ip-input" style="width: 220px;" type="text" pInputText [(ngModel)]="ipToCheck" />
      <label class="ip" for="float-input">Type or copy IP address here</label>
    </span>
    <button *ngIf="dnsChecked" (click)="checkDNS()" class="btn btn-danger"
      style="margin-left: 10px; margin-right: 10px;">
      Reverse ->
    </button>
    <div *ngIf="!dnsChecked" style="margin-left: 10px; margin-right: 10px;">
      <p-progressSpinner [style]="{width: '70px', height: '40px'}" strokeWidth="8" fill="#EEEEEE"
        animationDuration=".5s"></p-progressSpinner>
    </div>
    <span class="ui-float-label">
      <input class="dns-input" style="width: 220px;" type="text" pInputText [(ngModel)]="dns" />
      <label class="dns" for="float-input">DNS</label>
    </span>
  </div>

  <!-- <div class="container">
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">IP</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dns of DNSs; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ dns.ip }}</td>
            <td>{{ dns.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <div class="container">
    <p-table #dns id="dns" dataKey="id" [value]="DNSs" [rowHover]="true" [rows]="25" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" *ngIf="dnsLoaded" >
      <ng-template pTemplate="header">
        <tr>
          <th>IP</th>
          <th>Name</th>
        </tr>
        <tr>
          <th>
            <input id="ipInput" pInputText type="text" (input)="dns.filter($event.target.value, 'ip', 'startsWith')"
              placeholder="Search by IP" class="ui-column-filter">
          </th>
          <th>
            <input id="dnsInput" pInputText type="text" (input)="dns.filter($event.target.value, 'name', 'contains')"
              placeholder="Search by DNS" class="ui-column-filter">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dns>
        <tr class="ui-selectable-row">
          <td>{{ dns.ip }}</td>
          <td>{{ dns.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<ngx-spinner></ngx-spinner>
