<div class="main-content">
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="/assets/nmlogo3.jpg" id="logo" alt="">
                    </div>
                    <div class="col-md-7">
                        <h1 class="header-title text-center mt-5">
                            Network Scan Monitor
                        </h1>
                        <h4 class="text-center text-muted">Everything about Your network</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Find a host You want to check!
                        </h5>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, vel! Assumenda, aspernatur.
                                Culpa soluta adipisci veritatis unde porro hic dignissimos?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Check Your Network Traffic
                        </h5>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, vel! Assumenda, aspernatur.
                                Culpa soluta adipisci veritatis unde porro hic dignissimos?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Check a packet transfer!
                        </h5>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, vel! Assumenda, aspernatur.
                                Culpa soluta adipisci veritatis unde porro hic dignissimos?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>