<div class="main-content">
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h6 class="header-pretitle mt-3">
              Overview
            </h6>
            <h1 class="header-title">
              Dashboard
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of header -->
  <hr>
  <!-- cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted mb-2">Sum of sent bytes</h6>
                <span class="h2 mb-0" *ngIf="dataLoaded">{{bytesSum}} bytes</span>
              </div>
              <div class="col">
                <h6 class="text-uppercase text-muted mb-2">Sum of sent packets</h6>
                <span class="h2 mb-0" *ngIf="dataLoaded">{{packetsSum}} packets</span>
              </div>
              <div class="col">
                <h6 class="text-uppercase text-muted mb-2">Number of ip addresses</h6>
                <span class="h2 mb-0" *ngIf="dataLoaded">{{dataSummary.length}} unique addresses</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of cards -->
  <hr>
  <!-- Chart -->
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h1 class="header-title">
              Flow chart
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">

  <div>
    <fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource"></fusioncharts>
  </div>

</div>
<div class="d-flex flex-row justify-content-around" style="max-width: 30%;" *ngIf="optionLoaded">
  <div class="d-flex flex-column ">
    <h5 class="first">Source IP filter</h5>
    <p-dropdown [options]="ipSourceOptions" [(ngModel)]="ipSourceFilter" placeholder="Select an option"
      optionLabel="name"></p-dropdown>
  </div>
  <div class="d-flex flex-column">
    <h5 class="first">Destination IP filter</h5>
    <p-dropdown [options]="ipDestinationOptions" [(ngModel)]="ipDestinationFilter" placeholder="Select an option"
      optionLabel="name"></p-dropdown>
  </div>

  <button type="button" (click)="getMonitorData()" class="btn btn-info btn-lg"> Filter </button>

</div>


<!-- Timeline -->
<hr>
<div class="header">
  <div class="container-fluid">
    <h3 class="first">Options</h3>
    <p-dropdown [options]="options" [(ngModel)]="selectedOption" placeholder="Select an option" optionLabel="name">
    </p-dropdown>
  </div>
</div>

<!-- opcja dla jednego adresu -->
<div class="header" #SingleIp>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="header-title">
            Ip address filter
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="dataLoaded">
  <div class="first">Type IP address you want to scan</div>
  <input type="text" pKeyFilter="int">
  <div class="table table-striped">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Server IP</th>
          <th>Packets sent</th>
          <th>Bytes sent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSummary">
          <td>{{data.ip}}</td>
          <td>{{data.packetsSent}}</td>
          <td>{{data.bytesSent}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- opcja dla listy adresów -->
  <div class="header" #ListIp>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <h1 class="header-title">
              List of servers
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="dataLoaded">
    <div class="table table-striped">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Server IP</th>
            <th>Packets sent</th>
            <th>Bytes sent</th>
            <!-- <th>Packets recived</th>
            <th>Bytes received</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSummary | paginate: config">
            <td>{{data.ip}}</td>
            <td>{{data.packetsSent}}</td>
            <td>{{data.bytesSent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <pagination-controls (pageChange)=pageChanged($event)></pagination-controls>
  </div>
</div>
